<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    UNFM
    <select>  
        <option value = 0.0> Completely Familiar</option>  
        <option value = 0.2> Low </option>  
        <option value = 0.4 selected> Nominal </option>  
        <option value = 0.6> High </option>  
        <option value = 0.8> Very High </option> 
        <option value = 1.0> Completely Unfamiliar</option>  
      </select>
      AA
      <select>  
          <option value = 0> None </option>  
          <option value = 2> Basic</option>  
          <option value = 4 selected> Nominal </option>  
          <option value = 6> High </option>  
          <option value = 8> Extensive </option>  
        </select>
</body>
</html>